html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: .6em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20954;
  margin: 0;
  font-size: 3rem;
}

 h2 {
   font-family: "Sigmar One";
   color: #b20954;
   font-size: 1.875rem;
   }

.nav {
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.nav li {
  display: inline-block;
  background-color: #79756f;
  display: inline-block;
  padding: .5em .75em;
  background-color: #2f2d13;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  opacity: 50%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #2f2d13;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  opacity: 50%;
}

.cards a:hover {
  background-color: #cc1465;
}

.footer{
  background-color: #ffe500;
  padding: .2em .5em .3em;
  font-family: "Georgia";
  t
}
