html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: sans-serif;
  color: #2f2d13;
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: .5em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20954;
  margin: 0;
  font-size: 3rem;
}

h2 {
  font-family: "Sigmar One";
  color: #b20954;
  font-size: 1.875rem;
  text-align: left;
  padding-left: 1rem;
}

.nav {
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  font-family: Georgia, sans-serif;
  color: white;
  background-color: #b2a212;
  padding: .5em .75em;
  border-radius: 4px;
  text-decoration: none;
}

nav a:hover {
  background-color: #cc1465;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a :hover {
  background-color: #b20953;
}

nav .current {
  background-color: #b20953;
}

p {
  font-family: Georgia;
  text-align: left;
  padding-left: 1rem;
}

.footer p {
  background-color: #ffe500;
  font-family: Georgia;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

img {
  width: 100%;
  display: block;
  padding: 0 10px;
  padding-bottom: 5px;
}
